/*
*Author: Vuong Nguyen
*Contributer: Alec Knutsen 
** Last changed: Feb 29, 2016.
*/

/*
* Style for div tab that contains all main elements of the  HTML file 
*/

.container {
	margin: 0; padding: 0; 
	position: relative; font-family:Arial, Helvetica, sans-serif;
}	

/*
*  Style for div tab that contains all main elements of the  HTML file excluding the Main Timer display 
*/
 .header {
	height: 270px; background-color: #B4AEFD;
 }
 
 /*
* Style for div tab that contains the 12/24 hour mode selector 
*/
 #leftBlock {
	background-color: none;
	height: 100px; width: 24%; float: left;
 }
 
/*
* Style for div tab that contains the time selector, AM/PM selector, and run button 
*/
 #rightBlock {
	background-color: none;
	height: 100px; width: 70%; float: right;
 }
 
 /*
*  Style for div tab that contains some text and the main timer display  
*/
 .main {
	background-color: #DAE3FA;
	border-radius: 100px; border: 10px dashed #e6f7ff;
}

.button-content
{
	width: 60%;
	margin: 0 auto;
}

.timeIn
{
	width: 20%;
	font-size: 25px;
}

.main-content
{
	height: 80%; width: 70%;
}

.controls
{
	background-color: #DAE3FA;
	border-radius: 100px; border: 10px dashed #e6f7ff;
	height: 40%; width: 50%; padding: 0px 60px 60px 60px;	
	margin: 0 auto;
}

.controls h1
{
	font-size: 3em;
	margin-bottom: -1%;
}

.object
{
	font-size: 60px;
} 
/*
* More specific html element. See HTML file 
*/
 .clockMode {
	background-color: transparent;
	height: 70%; width: 70%; margin: 50px 0 0 50px;
	position: relative; padding: 10px; 
 }
 
/*
* More specific html element. See HTML file 
*/
 select {
	background-color: #EFEEFE;
	width: 230px; height: 100%; 
	font-size: 25px; text-align: center;
	margin: 30px 0 0 20px; padding: 5px 0 5px 5px; border-radius: 10px;
 }



/*
* More specific html element. See HTML file 
*/
 #setTime {
	padding: 20px 30px 20px 50px;
	font-size: 25px; margin: 24px 0 0 0;
 }
 
/*
* More specific html element. See HTML file 
*/
 #InputHours{
	padding: 5px; font-size: 20px; text-align: center;
 }
 
/*
* More specific html element. See HTML file 
*/
 #InputMinutes{
	padding: 5px; font-size: 20px; text-align: center;
 }
 
/*
* More specific html element. See HTML file 
*/
 #InputSeconds {
	padding: 5px; font-size: 20px; text-align: center;
 }
 
 /*
*
*/
#amORpm {
	background-color: #EFEEFE; border-radius: 10px;
	width: 100px; height: 50px; 
	font-size: 20px; text-align: center;
	margin: 0 0 0 20px; 
}

/*
* More specific html element. See HTML file 
*/
#valid {
	color: #040C62; font-size: 60px; text-align: center;
}

/*
* More specific html element. See HTML file 
*/
#clock {
	color: black; 
	font-size: 100px; text-align: center; 
}		 