
.container {
	margin: 0; padding: 0; 
	font-family:Arial, Helvetica, sans-serif;
	position: relative;
}	

 .header {
	height: 230px; background-color: #B4AEFD;
 
 }
 
 #leftBlock {
	background-color: none;
	height: 100px; width: 30%; float: left;
 }
 #rightBlock {
	background-color: none;
	height: 100px; width: 65%; float: right;
 }
 .main {
	background-color: yellow;
	height: 400px; margin: auto; width: 1000px; 


}
 /** Right sided clock mode **/
 #clockMode {
	background-color: transparent;
	height: 70%; width: 70%; margin: 50px 0 0 100px;
	position: relative; padding: 10px; 
 }
 select {
	background-color: #EFEEFE;
	width: 230px; height: 100%; 
	font-size: 25px; text-align: center;
	margin: 50px 0 0 25px; padding: 5px 0 5px 5px;
 }
 
 /** right-sided setTime div **/
 #setTime {
	padding: 20px 30px 20px 50px;
	font-size: 25px; margin: 24px 0 0 0;
 }
 #InputHours{
	padding: 5px; font-size: 20px; text-align: center;
 }
 #InputMinutes{
	padding: 5px; font-size: 20px; text-align: center;
 }
 #InputSeconds {
	padding: 5px; font-size: 20px; text-align: center;
 }
		 
		 
			
